<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.magazine-hd.com/apps/wp/wp-content/uploads/2016/11/Cinema-NOS.jpg);">
  <div class="container">
    <h1>Here are <strong>all</strong> your lists: </h1>
  </div>
</div>


<div class="card-category m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  <ul>
    <% @lists.each do |list| %>
      <li>
        <%= link_to list_path(list) do %>
        <%= list.name %>
      <% end %>
      </li>
    <% end %>
  </ul>
</div>


<%= link_to "New List", new_list_path %>
