<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.magazine-hd.com/apps/wp/wp-content/uploads/2016/11/Cinema-NOS.jpg);">
  <div class="container">
    <h1>Here are <strong>all</strong> your lists: </h1>
  </div>
</div>


<div class="cards m-3">
  <% @lists.each do |list| %>
    <div class="card-category m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.shutterstock.com/image-vector/cinema-film-strip-wave-reel-600w-1422026513.jpg)">
      <%= link_to list_path(list) do %>
      <%= list.name %>
      <% end %>
    <% end %>
    </div>
</div>


<%= link_to "New List", new_list_path %>
