<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.magazine-hd.com/apps/wp/wp-content/uploads/2016/11/Cinema-NOS.jpg);">
  <div class="container">
    <h1>Here are <strong>all</strong> your lists: </h1>
  </div>
</div>

<div class= "position-relative">

<%= link_to "New List", new_list_path, class: "btn btn-primary mt-3 me-4 position-absolute top-0 end-0" %>
</div>

<div class="cards m-3 pt-5">
  <% @lists.each do |list| %>
    <div class="card-category m-3 position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/0/02/35mm_movie_negative.jpg)">
      <%= link_to list_path(list), class: "text-decoration-none text-light" do %>
      <%= list.name %>
      <%= link_to "X", list_path(list), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "close-btn text-decoration-none text-light"  %>
      <% end %>
    </div>
    <% end %>
</div>
