<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(@);">
  <div class="container">
    <h1>Here are <strong>all</strong> your lists: </h1>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>


<ul>
  <% @lists.each do |list| %>
    <li>
    <%= link_to list_path(list) do %>
      <%= list.name %>
    <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "New List", new_list_path %>
