<h1>Lists</h1>

<p><%= @list.name %></p>

<% @list.bookmarks.each do |bookmark|%>
  <p><%= bookmark.movie.title %></p>
  <p><%= bookmark.comment %></p>
<% end %>

<%= link_to "Back to 'All Lists'", lists_path, class: "mt-5 btn btn-primary text-decoration-none" %>

<%# acrescentar um botaão para New Movie (nova bookmark) reencaminhar para a bookmarks(new)  %>
